{{ define "main" }}

  {{ $url := "https://content.greenzero.dev/wp-json/pages/all/404-2" }}
  {{ $data := getJSON $url }}

  {{ if $data }}
    {{ with $data }}

      {{ partial "global/head.html" (dict "seo" .acf.seo) }}
      {{ partial "global/header.html" (dict "seo" .acf.seo "logos" (index .site_data "Logos") "menus" .menus ) }}

      <div class="four-o-four">
        <div class="hero">
            <h1>{{ .acf.hero_section.title }}</h1>
        </div>
        
        <div class="after-hero">
            <h2>{{ .acf.hero_section.description | safeHTML }}</h2>
        </div>
        
        <div class="back-home">
          <a href="{{ partial "global/button_link.html" (dict "button" .acf.hero_section.button ) | safeURL }}" class="button">{{ .acf.hero_section.button.text }}</a>
        </div>
      </div>

    {{ partial "global/footer.html" (dict "logos" (index .site_data "Logos") "menus" .menus)  }}
      
    {{ end }}
  {{ else }}
      <p>No data found.</p>
  {{ end }}

{{ end }}